In [188]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [189]:
train_data=pd.read_csv(r'C:\Users\Gaurav Kesari\House Price in Bengaluru\train.csv')
print(train_data.shape)
print(train_data.head())

(13320, 9)
              area_type   availability                  location       size  \
0  Super built-up  Area         19-Dec  Electronic City Phase II      2 BHK
1            Plot  Area  Ready To Move          Chikka Tirupathi  4 Bedroom
2        Built-up  Area  Ready To Move               Uttarahalli      3 BHK
3  Super built-up  Area  Ready To Move        Lingadheeranahalli      3 BHK
4  Super built-up  Area  Ready To Move                  Kothanur      2 BHK

   society total_sqft  bath  balcony   price
0  Coomee        1056   2.0      1.0   39.07
1  Theanmp       2600   5.0      3.0  120.00
2      NaN       1440   2.0      3.0   62.00
3  Soiewre       1521   3.0      1.0   95.00
4      NaN       1200   2.0      1.0   51.00

In [190]:
test_data=pd.read_csv(r'C:\Users\Gaurav Kesari\house Price in Bengaluru\test.csv')
print(test_data.shape)
print(test_data.head())

(1480, 9)
              area_type   availability           location       size  society  \
0  Super built-up  Area  Ready To Move        Brookefield      2 BHK  Roeekbl
1            Plot  Area  Ready To Move      Akshaya Nagar  9 Bedroom      NaN
2            Plot  Area         18-Apr        Hennur Road  4 Bedroom  Saandtt
3  Super built-up  Area  Ready To Move  Kodichikkanahalli      3 BHK  Winerri
4  Super built-up  Area  Ready To Move        Konanakunte      2 BHK  AmageSa

  total_sqft  bath  balcony  price
0       1225   2.0      2.0    NaN
1       2400   9.0      2.0    NaN
2       1650   5.0      2.0    NaN
3       1322   3.0      1.0    NaN
4       1161   2.0      1.0    NaN

In [191]:
train_data.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [192]:
test_data.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [193]:
test=test_data.drop(['price','society'], axis=1)

In [194]:
print(test.shape)

(1480, 7)

In [195]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [196]:
print('train data with null values:\n', train_data.isnull().sum())

train data with null values:
 area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [197]:
print('test data with null values:\n', test.isnull().sum())

test data with null values:
 area_type        0
availability     0
location         0
size             2
total_sqft       0
bath             7
balcony         69
dtype: int64

In [198]:
import collections

In [199]:
area_type_train=collections.Counter(train_data.area_type)
print(area_type_train)

Counter({'Super built-up  Area': 8790, 'Built-up  Area': 2418, 'Plot  Area': 2025, 'Carpet  Area': 87})

In [200]:
### plt.figure(figsize=(14,6))
###sns.scatterplot(x = train_data['area_type'], y=train_data['price'])

In [201]:
availability_train=collections.Counter(train_data.availability)
availability_train_list=pd.DataFrame(availability_train.items(), columns=["Category", "Numbers"]).sort_values(by="Numbers", ascending=False)
availability_train_list.head(10)

         Category  Numbers
1   Ready To Move    10581
17         18-Dec      307
2          18-May      295
12         18-Apr      271
23         18-Aug      200
0          19-Dec      185
26         18-Jul      143
10         18-Mar      131
20         18-Jun       99
5          20-Dec       98

In [202]:
train_data.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [203]:
train_data.nunique()

area_type          4
availability      81
location        1305
size              31
society         2688
total_sqft      2117
bath              19
balcony            4
price           1994
dtype: int64

In [204]:
#sns.pairplot(train_data)
train_data['availability'].value_counts().head(20)

Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
19-Dec             185
18-Jul             143
18-Mar             131
18-Jun              99
20-Dec              98
21-Dec              93
19-Mar              88
18-Feb              62
18-Nov              47
18-Jan              43
18-Sep              41
19-Jun              40
19-Jan              39
18-Oct              39
19-Jul              36
Name: availability, dtype: int64

In [205]:
print(train_data.shape)

(13320, 9)

In [206]:
#corelation = train_data.corr()

In [207]:
#sns.heatmap(corelation, xticklabels=corelation.columns, yticklabels=corelation.columns, annot=True)

In [208]:
#sns.scatterplot(x=train_data['location'], y=train_data['price'])

In [209]:
#location_train_missing=pd.isnull(train_data["location"])
#train_data[location_train_missing]

In [210]:
#train_data=train_data.drop(train_data.index[568])
#print(train_data.shape)
train_data['location']=train_data['location'].fillna("locationnotprovided")

In [211]:
train_data=train_data.drop('society', axis=1)

In [212]:
size_train_missing=pd.isnull(train_data["size"])
train_data[size_train_missing]

,area_type,availability,location,size,total_sqft,bath,balcony,price
579,Plot Area,Immediate Possession,Sarjapur Road,NaN,1200 - 2400,NaN,NaN,34.185
1775,Plot Area,Immediate Possession,IVC Road,NaN,2000 - 5634,NaN,NaN,124.000
2264,Plot Area,Immediate Possession,Banashankari,NaN,2400,NaN,NaN,460.000
2809,Plot Area,Immediate Possession,Sarjapur Road,NaN,1200 - 2400,NaN,NaN,28.785
2862,Plot Area,Immediate Possession,Devanahalli,NaN,1500 - 2400,NaN,NaN,46.800
5333,Plot Area,Immediate Possession,Devanahalli,NaN,2100 - 5405,NaN,NaN,177.115
6423,Plot Area,Immediate Possession,Whitefield,NaN,2324,NaN,NaN,26.730
6636,Plot Area,Immediate Possession,Jigani,NaN,1500,NaN,NaN,25.490
6719,Plot Area,Immediate Possession,Hoskote,NaN,800 - 2660,NaN,NaN,28.545
7680,Plot Area,Immediate Possession,Kasavanhalli,NaN,5000,NaN,NaN,400.000
8306,Plot Area,Immediate Possession,Anekal,NaN,1453,NaN,NaN,16.500
8565,Plot Area,Immediate Possession,Carmelaram,NaN,2000,NaN,NaN,120.000
8703,Plot Area,Immediate Possession,Mysore Road,NaN,1200 - 2400,NaN,NaN,42.300
10634,Plot Area,Immediate Possession,Rajankunte,NaN,1575,NaN,NaN,31.110
11019,Plot Area,Immediate Possession,Yelahanka,NaN,1200 - 1800,NaN,NaN,12.750
11569,Plot Area,Immediate Possession,Hosur Road,NaN,1350,NaN,NaN,8.440

In [213]:
#size_train=collections.Counter(train_data.size)
#size_train_list=pd.DataFrame(size_train.items(), columns=["size", "frequency"])
#size_train_list.head(35)

In [214]:
combine=[train_data, test]
#mode_balcony= train_data.balcony.dropna().mode()[0]

train_data['balcony']=train_data.groupby('location')['balcony'].transform(lambda x:x.fillna(x.mode()))
test['balcony']=test.groupby('location')['balcony'].transform(lambda x:x.fillna(x.mode()))
balcony=train_data["balcony"]
balcony[~balcony.notnull()]
for dataset in combine:
    dataset['balcony']=dataset['balcony'].fillna(balcony.mode())
#mode_bath=train_data.bath.dropna().mode()[0]
train_data['bath']=train_data.groupby('location')['bath'].transform(lambda x:x.fillna(x.mode()))
test['bath']=test.groupby('location')['bath'].transform(lambda x:x.fillna(x.mode()))
bath=train_data["bath"]
bath[~bath.notnull()]
for dataset in combine:
    dataset['bath']=dataset['bath'].fillna(bath.mode())
train_data.info()

6       NaN
7       NaN
9       NaN
34      NaN
40      NaN
         ..
13277   NaN
13279   NaN
13306   NaN
13309   NaN
13316   NaN
Name: balcony, Length: 609, dtype: float64

56      NaN
81      NaN
224     NaN
344     NaN
579     NaN
         ..
11496   NaN
11569   NaN
12768   NaN
12861   NaN
13240   NaN
Name: bath, Length: 73, dtype: float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13320 non-null  object
 3   size          13304 non-null  object
 4   total_sqft    13320 non-null  object
 5   bath          13247 non-null  float64
 6   balcony       12711 non-null  float64
 7   price         13320 non-null  float64
dtypes: float64(3), object(5)
memory usage: 832.6+ KB

In [215]:
size_test_missing=pd.isnull(test["size"])
test[size_test_missing]

,area_type,availability,location,size,total_sqft,bath,balcony
151,Plot Area,Immediate Possession,Chikkaballapur,NaN,1200 - 2000,NaN,NaN
1160,Plot Area,Immediate Possession,Hosa Road,NaN,600 - 4000,NaN,NaN

In [216]:
#train_data=train_data.drop(train_data.index[[578,  1774,  2263,  2808,  2861,  5332,  6422,  6635,  6718, 7679,  8305,  8564,  8702, 10633, 11018, 11568]])

In [217]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13320 non-null  object
 3   size          13304 non-null  object
 4   total_sqft    13320 non-null  object
 5   bath          13247 non-null  float64
 6   balcony       12711 non-null  float64
 7   price         13320 non-null  float64
dtypes: float64(3), object(5)
memory usage: 832.6+ KB

In [218]:
#test= test.drop(test.index[[151, 1160]])
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     1480 non-null   object
 1   availability  1480 non-null   object
 2   location      1480 non-null   object
 3   size          1478 non-null   object
 4   total_sqft    1480 non-null   object
 5   bath          1473 non-null   float64
 6   balcony       1411 non-null   float64
dtypes: float64(2), object(5)
memory usage: 81.1+ KB

In [219]:
import re
import pickle
def preprocess_total_sqft(my_list):
    if len(my_list) == 1:
        
        try:
            return float(my_list[0])
        except:
            strings = ['Sq. Meter', 'Sq. Yards', 'Perch', 'Acres', 'Cents', 'Guntha', 'Grounds']
            split_list = re.split('(\d*.*\d)', my_list[0])[1:]
            area = float(split_list[0])
            type_of_area = split_list[1]
            
            if type_of_area == 'Sq. Meter':
                area_in_sqft = area * 10.7639
            elif type_of_area == 'Sq. Yards':
                area_in_sqft = area * 9.0
            elif type_of_area == 'Perch':
                area_in_sqft = area * 272.25
            elif type_of_area == 'Acres':
                area_in_sqft = area * 43560.0
            elif type_of_area == 'Cents':
                area_in_sqft = area * 435.61545
            elif type_of_area == 'Guntha':
                area_in_sqft = area * 1089.0
            elif type_of_area == 'Grounds':
                area_in_sqft = area * 2400.0
            return float(area_in_sqft)
        
    else:
        return (float(my_list[0]) + float(my_list[1]))/2.0

In [220]:
import math
from sklearn.preprocessing import LabelEncoder

train_data['size'] = train_data['size'].apply(lambda x: x.split(' ')[0] if isinstance(x,str) else np.nan)
test['size'] = test['size'].apply(lambda x: x.split(' ')[0] if isinstance(x,str) else np.nan)


train_data['total_sqft'] = train_data.total_sqft.str.split('-').apply(preprocess_total_sqft)
test['total_sqft'] = test.total_sqft.str.split('-').apply(preprocess_total_sqft)


train_data['size']=train_data['size'].astype(float)
train_data['size'] = train_data.apply(lambda row: math.ceil(float(row['total_sqft']/550)) if np.isnan(row['size']) else row['size'], axis=1)

test['size']=test['size'].astype(float)
test['size'] = test.apply(lambda row: math.ceil(float(row['total_sqft']/550)) if np.isnan(row['size']) else row['size'], axis=1)

combine=[train_data, test]
label=LabelEncoder()
for dataset in combine:
    dataset['area_type_code']=label.fit_transform(dataset['area_type'])
#     dataset['locationcode']=label.fit_transform(dataset['location'])
    #dataset['total_sqftcode']=label.fit_transform(dataset['total_sqft'])
    dataset['availabilitycode']=label.fit_transform(dataset['availability'])
    #dataset['sizecode']=label.fit_transform(dataset['size'].astype('str'))

In [221]:
# test['availability'].replace(["Ready To Move","Immediate Possession"], 1, inplace=True)

# test.loc[(test['availability']!=1),'availability'] = 0
# test['availability']=test['availability'].astype(int)
# test['availability'].value_counts()

In [222]:
# train_data['availability'].replace(["Ready To Move","Immediate Possession"], 1, inplace=True)

# train_data.loc[(train_data['availability']!=1),'availability'] = 0

# train_data['availability'].value_counts()
# train_data['availability']=train_data['availability'].astype(int)

In [223]:
# pip install selenium
# pip install webdriver-manager
# from selenium import webdriver
# from webdriver_manager.chrome import ChromeDriverManager

# driver = webdriver.Chrome(ChromeDriverManager().install())

In [224]:
# df = pd.concat([train_data,test], ignore_index=True)


# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"

# import warnings
# warnings.filterwarnings('ignore')

# uniq_locn=pd.DataFrame(df['location'].unique(), columns=['location'])
# uniq_locn['browser_link'] = uniq_locn['location'].apply(lambda x: str(x) + " Bangalore site:codepin.in")


# import os
# from selenium import webdriver
# from selenium.webdriver.common.keys import Keys
# from selenium.webdriver.common.by import By
# from selenium.common.exceptions import NoSuchElementException, WebDriverException
# import requests
# # get the path of ChromeDriverServer
# dir = os.path.dirname(r"C:\Users\Gaurav Kesari\chromedriver.exe")
# chrome_driver_path = dir + "\chromedriver.exe"

# uniq_test = uniq_locn.copy(deep=True)

# final_list=pd.DataFrame({'Place':[],
#                          'Pin Code':[],
#                          'Taluk':[],
#                          'Division':[],
#                          'District':[],
#                          'State':[],
#                         'Uniq':[]})

# count=0
# m=0
# # create a new Chrome session
# driver = webdriver.Chrome(chrome_driver_path)
# driver.implicitly_wait(5)
# driver.maximize_window()

# for i in range(len(uniq_test)):
    
#     # Navigate to the application home page
#     driver.get("http://www.bing.com/")
#     # get the search textbox
#     #search_field = driver.find_element_by_name("q")    #worked, for Google.com only
#     search_field = driver.find_element_by_id("sb_form_q")    #worked, for Bing Search
    
#     # enter search keyword and submit
#     search_field.send_keys(uniq_test.iloc[i,0])
#     search_field.submit()
    
#     try:
#         #clicking the first link
#         #driver.find_element(By.XPATH, '(//h3)[1]/a').click()    #worked, for Google.com only
#         driver.find_element_by_partial_link_text("PIN CODE").click()   #worked, for Bing Search

#         #waiting for link to open fully
#         driver.implicitly_wait(5)

#         #copying the url of the browser
#         url = driver.current_url

#         html = requests.get(url).content
#         df_list = pd.read_html(html)


#         df = df_list[-1]
#         df2=pd.DataFrame(df.iloc[1,:])
#         df3=pd.DataFrame.transpose(df2).reset_index(drop=True)
#         value=pd.DataFrame({'Place':[df3.iloc[0,0]],
#                             'Pin Code':[df3.iloc[0,1]],
#                             'Taluk':[df3.iloc[0,2]],
#                             'Division':[df3.iloc[0,3]],
#                             'District':[df3.iloc[0,4]],
#                             'State':[df3.iloc[0,5]],
#                             'Uniq':[uniq_test.iloc[i,0]]})
#         final_list=final_list.append(value, ignore_index=True)
#         m+=1
#         print(m,"  ",uniq_test.iloc[i,0])

#     except (NoSuchElementException, WebDriverException) as e:
#         count += 1
#         pass
#     driver.delete_all_cookies()

# driver.close()
        
        
# # Downloaded list of pincodes
# location_df = pd.read_excel(r'..\data\\additional_data\location_pincodes.xlsx')

# uniq_locn['pincode'] = (uniq_locn['browser_link']
#                         .map(dict(zip(location_df['browser_link'],location_df['pincode']))))

# uniq_locn.head()

In [225]:
# df['location'] = df['location'].map(dict(zip(uniq_locn['location'],uniq_locn['pincode'])))
# df.head()

In [226]:
# df['location'].value_counts().head()

In [227]:

# df['location'].isnull().sum()

In [228]:
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics
import scipy as sp 

train_data=train_data.drop(["area_type","location","availability"], axis=1)
test=test.drop(["area_type","location","availability"], axis=1)
y=train_data.price
X=train_data.drop("price", axis=1)



print(train_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   size              13320 non-null  float64
 1   total_sqft        13320 non-null  float64
 2   bath              13247 non-null  float64
 3   balcony           12711 non-null  float64
 4   price             13320 non-null  float64
 5   area_type_code    13320 non-null  int32
 6   availabilitycode  13320 non-null  int32
dtypes: float64(5), int32(2)
memory usage: 624.5 KB
None

In [229]:
# train_data['total_sqft_band']=pd.qcut(train_data['total_sqft'], 5)
# print(train_data[['total_sqft_band','price']].groupby(['total_sqft_band'], as_index = False).mean().sort_values(by="price", ascending=True))
# combine=[train_data, test]
# for dataset in combine:
#     dataset.loc[(dataset['total_sqft']>0.999) & (dataset['total_sqft']<=1050.0), 'total_sqft']=0
#     dataset.loc[(dataset['total_sqft']>1050.0) & (dataset['total_sqft']<=1200.0), 'total_sqft']=1
#     dataset.loc[(dataset['total_sqft']>1200.0) & (dataset['total_sqft']<=1407.0), 'total_sqft']=2
#     dataset.loc[(dataset['total_sqft']>1407.0) & (dataset['total_sqft']<=1801.0), 'total_sqft']=3
#     dataset.loc[(dataset['total_sqft']>1801.0) & (dataset['total_sqft']<=1306800.0), 'total_sqft']=4

In [230]:
#train_data=train_data.drop('total_sqft_band', axis=1)
print(train_data.shape)
print(train_data.info)
print(test.info())

(13320, 7)
<bound method DataFrame.info of        size  total_sqft  bath  balcony   price  area_type_code  \
0       2.0      1056.0   2.0      1.0   39.07               3
1       4.0      2600.0   5.0      3.0  120.00               2
2       3.0      1440.0   2.0      3.0   62.00               0
3       3.0      1521.0   3.0      1.0   95.00               3
4       2.0      1200.0   2.0      1.0   51.00               3
...     ...         ...   ...      ...     ...             ...
13315   5.0      3453.0   4.0      0.0  231.00               0
13316   4.0      3600.0   5.0      NaN  400.00               3
13317   2.0      1141.0   2.0      1.0   60.00               0
13318   4.0      4689.0   4.0      1.0  488.00               3
13319   1.0       550.0   1.0      1.0   17.00               3

       availabilitycode
0                    40
1                    80
2                    80
3                    80
4                    80
...                 ...
13315                80
13316                80
13317                80
13318                32
13319                80

[13320 rows x 7 columns]>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   size              1480 non-null   float64
 1   total_sqft        1480 non-null   float64
 2   bath              1473 non-null   float64
 3   balcony           1411 non-null   float64
 4   area_type_code    1480 non-null   int32
 5   availabilitycode  1480 non-null   int32
dtypes: float64(4), int32(2)
memory usage: 57.9 KB
None

In [231]:
#Machinelearning
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

#from xgboost import XGBRegressor

#import xgboost
#from sklearn.model_selection import GridSearchCV

#params = {'min_child_weight':[4,5,6], 'gamma':[i/10.0 for i in range(3,6)],  'subsample':[i/10.0 for i in range(6,11)],
#'colsample_bytree':[i/10.0 for i in range(6,11)], 'max_depth': [2,3,4], 'n_estimators':[1000, 1500, 2000], 
          #'learning_rate':[0.01, 0.05, 0.1]}

#xgb = xgboost.XGBRegressor(nthread=-1) 

#grid = GridSearchCV(xgb, params)






from xgboost import XGBRegressor



model_xgbregressor=XGBRegressor(n_estimators=1000)
model_xgbregressor.fit(train_X, train_y, early_stopping_rounds=5, eval_set=[(val_X, val_y)], verbose=False)
predictions=model_xgbregressor.predict(test)
acc_xgb=round(model_xgbregressor.score(X,y)*100, 2)
print(acc_xgb)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=1000, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

68.23

In [232]:
# from sklearn.ensemble import RandomForestRegressor
# RF = RandomForestRegressor(bootstrap=True,
#                            criterion='mse',
#                            max_depth=27,
#                            max_features='sqrt',
#                            max_leaf_nodes=None,
#                            min_impurity_decrease=0.0,
#                            min_impurity_split=None,
#                            min_samples_leaf=1,
#                            min_samples_split=5,
#                            min_weight_fraction_leaf=0.0,
#                            n_estimators=260,
#                            n_jobs=1,
#                            oob_score=False,
#                            random_state=None,
#                            verbose=0,
#                            warm_start=False)

In [233]:
# RF.fit(train_X, train_y)

In [234]:
# predictions = RF.predict(test)

In [235]:
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_squared_error
# reg=LinearRegression()
# reg = reg.fit(X, y)
# predictions=reg.predict(test)

# r2_score=reg.score(X,y)
# print(r2_score)

In [236]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

# from sklearn.linear_model import LinearRegression
# lr_clf = LinearRegression()
# lr_clf.fit(X_train,y_train)
# lr_clf.score(X_test,y_test)

# from sklearn.model_selection import ShuffleSplit
# from sklearn.model_selection import cross_val_score

# cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

# cross_val_score(LinearRegression(), X, y, cv=cv)



# from sklearn.model_selection import GridSearchCV

# from sklearn.linear_model import Lasso
# from sklearn.tree import DecisionTreeRegressor

# def find_best_model_using_gridsearchcv(X,Y):
#     algos = {
#         'linear_regression' : {
#             'model': LinearRegression(),
#             'params': {
#                 'normalize': [True, False]
#             }
#         },
#         'lasso': {
#             'model': Lasso(),
#             'params': {
#                 'alpha': [1,2],
#                 'selection': ['random', 'cyclic']
#             }
#         },
#         'decision_tree': {
#             'model': DecisionTreeRegressor(),
#             'params': {
#                 'criterion' : ['mse','friedman_mse'],
#                 'splitter': ['best','random']
#             }
#         }
#     }
#     scores = []
#     cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
#     for algo_name, config in algos.items():
#         gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
#         gs.fit(X,y)
#         scores.append({
#             'model': algo_name,
#             'best_score': gs.best_score_,
#             'best_params': gs.best_params_
#         })

#     return pd.DataFrame(scores,columns=['model','best_score','best_params'])

# find_best_model_using_gridsearchcv(X,y)

In [237]:
#grid.fit(X, y)
#grid.best_estimator_

#predictions = lr_clf.predict(test)
#acc_xgb=round(predictions.score(X,y)*100, 2)
#print(acc_xgb) 
# y_pred = model.predict(X_test)

In [238]:
output=pd.DataFrame({'price':predictions})
output.to_excel('my_submission.xlsx', index=False)
print("Your submission was successfully saved!")
#import sys
#!{sys.executable} -m pip install xgboost

Your submission was successfully saved!

In [239]:
output

           price
0      58.583679
1     325.142975
2     176.739639
3      67.906815
4      55.131615
...          ...
1475   65.664986
1476  102.227600
1477   58.583679
1478   39.173656
1479   56.357533

[1480 rows x 1 columns]

In [240]:
#model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
#model.fit(X, y)
#predictions =model.predict(test)
#acc_random_forest=round(model.score(X,y)*100, 2)
#print(acc_random_forest)